<div class="HomeBackground">
    <section class="quotebox">
        <div class="parkquote">
            <p class="quote">A society-any society-is defined as a set of mutual benefits and duties embodied most visably in public insitutions: public schools, public libraries, public transportation public hospitals, <strong>public parks</strong>, public museums, public
                recreation, public universities, and so on.</p>
            <p class="author">-Robert Reich</p>
        </div>
    </section>
</div>