<section class="ParksBackground">
    <h1 class="ParksText">Parks in the Greater Salt Lake City Area</h1>
    <section class="parkbox">

        <input class="parkinput" type="text" placeholder="Park Name" ng-model="filterText.park">
        <section class="ParksData">
            <div ng-repeat="park in parks | filter: filterText">
                <ul>
                    <strong class="park">{{park.park}}</strong>
                    <div class="address">{{park.location_1_location}}</div>
                    <div class="citystate">{{park.location_1_city}}</div>
                    <div class="amenities">{{park.amenities}}</div>
                    <button class="parkbutton" ui-sref="map({id: park.park})">View Map</button>
                </ul>
            </div>
        </section>
        </div>

    </section>
</section>